:root {
  --font-family: Georgia, "Times New Roman", Times, serif;
  --font-style: bold;
}
h1 {
  text-align: left;

  left: 5px;
  top: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.heading {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  justify-content: flex-end;
  font-family: var(--font-family);
}
.link {
  padding: 20px;
  text-decoration: none;
}
.col-6 {
  margin-top: 50px;
  font-family: var(--font-family);
}
.name {
  font-size: 50px;
  font-style: var(--font-style);
}
.hi {
  font-size: 35px;
}
h2,
h6 {
  text-align: center;
}
