h1 {
  text-align: left;

  left: 5px;
  top: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.heading {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  justify-content: flex-end;
}
.link {
  padding: 20px;
  text-decoration: none;
}
.col-6 {
  margin-top: 50px;
}
